:root {
  --preto-azulado: #2f2e41;
  --verde: #00bfa6;
  --cinza: #c2c2c2;
  --branco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--preto-azulado);
}

.page {
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Open Sans", sans-serif;
}

nav {
  width: 1092px;
  margin-top: 71px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style: none;

  display: flex;
  gap: 64px;
}

ul li a {
  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;

  text-decoration: none;

  color: var(--branco);
}

main {
  width: 1092px;
  margin: 101px 0 157px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

main section {
  text-align: center;
  width: 614px;
}

h1 {
  font-family: "JetBrains Mono", monospace;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;

  color: var(--branco);

  margin-bottom: 59px;
}

section p {
  width: 604px;

  font-weight: 400;
  font-size: 16px;
  line-height: 28px;

  color: var(--cinza);
}

p span {
  color: #00bfa6;

  font-weight: 700;
}

h1 span {
  color: var(--verde);
}

footer {
  max-width: 568px;
  padding-top: 27px;

  border-top: 1px solid var(--verde);

  color: var(--branco);

  font-family: "JetBrains Mono", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

footer a {
  text-decoration: none;
  color: var(--branco);

  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.padlock {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 20px;
  margin-left: 20px;
}
